<span
  id={{elementId}}
  class="x-toggle-container {{size}}{{if toggled ' x-toggle-container-checked'}}{{if disabled ' x-toggle-container-disabled'}}"
  onclick={{action 'onClick'}}
>

  {{#if showLabels}}
  	<span class="toggle-text toggle-prefix off-label">
  		{{_offLabel}}
  	</span>
  {{/if}}

  {{input id=forId type='checkbox' checked=toggled class='x-toggle' disabled=disabled name=name}}

  <label class="x-toggle-btn {{themeClass}} {{size}} {{if disabled 'x-toggle-disabled'}}"
    for={{forId}}
    data-tg-off={{_offValue}}
    data-tg-on={{_onValue}}>
  </label>

  {{#if showLabels}}
  	<span class="toggle-text toggle-postfix {{size}} on-label">
  		{{_onLabel}}
  	</span>
  {{/if}}

</span>
