{{#if this.show}}
  <label
    for={{this.for}}
    class="toggle-text toggle-prefix {{this.labelType}}"
    ...attributes
    {{on 'click' (action 'clickLabel')}}
  >
    {{#if (has-block)}}
      {{yield this.label}}
    {{else}}
      {{this.label}}
    {{/if}}
  </label>
{{/if}}