{{#if this.show}}
  <label
    for={{this.for}}
    class='toggle-text toggle-prefix {{this.labelType}}'
    onclick={{action 'clickLabel'}}
  > 
    {{#if hasBlock}}
      {{yield this.label}}
    {{else}}
      {{this.label}}
    {{/if}}
  </label>
{{/if}}