{{#if @show}}
  <label
    for={{@switchId}}
    class="toggle-text toggle-prefix {{this.type}}-label"
    ...attributes
    {{on 'click' this.clickLabel}}
  >
    {{#if (has-block)}}
      {{yield @label}}
    {{else}}
      {{@label}}
    {{/if}}
  </label>
{{/if}}