<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

{{x-toggle toggle='checkboxToggled'}}
{{x-toggle theme='light'}}
{{x-toggle theme='ios'}}
{{x-toggle theme='flat'}}
{{x-toggle theme='flip' off='Nope' on='Yep' toggle='checkboxToggled'}}
{{x-toggle theme='skewed'}}

<p>
  Is toggled: {{toggled}}
</p>
