<h1 id='title'>ember-toggle</h1>

<h2>Themes</h2>
{{! template-lint-disable block-indentation attribute-indentation}}
<table>
  <tbody>

    <tr>
      <td><XToggle @name={{1}} @theme="default" @value={{v1}} @onToggle={{action (mut v1)}} /></td>
      <td>default</td>
      <td><XToggle @name={{2}} @theme="light" @value={{v2}} @onToggle={{action (mut v2)}} /></td>
      <td>light</td>
    </tr>
    <tr>
      <td>
        <XToggle @name={{3}} @theme="ios" @value={{v3}} @onToggle={{action (mut v3)}} />
      </td>
      <td>ios</td>
      <td><XToggle @name={{4}} @theme="flat" @value={{v4}} @onToggle={{action (mut v4)}} /></td>
      <td>flat</td>
    </tr>
    <tr>
      <td><XToggle @name={{5}} @theme="flip" @offLabel="Nope" @onLabel="Yep" @value={{v5}} @onToggle={{action (mut v5)}} /></td>
      <td>flip</td>
      <td><XToggle @name={{6}} @theme="skewed" @value={{v6}} @onToggle={{action (mut v6)}} /></td>
      <td>skewed</td>
    </tr>
    <tr>
      <td><XToggle @name={{7}} @theme="material" @value={{v8}} @onToggle={{action (mut v8)}} /></td>
      <td>material</td>
    </tr>
  </tbody>
</table>

<h2>Sizes</h2>

<table>
  <thead>
    <tr>
      <th>Small</th>
      <th>Medium</th>
      <th>Large</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td>
        <XToggle @size="small" @value={{v7}} @onToggle={{action (mut v7)}} />
      </td>
      <td>
        <XToggle @size="medium" @value={{v7}} @onToggle={{action (mut v7)}} />
      </td>
      <td>
        <XToggle @size="large" @value={{v7}} @onToggle={{action (mut v7)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="light" @value={{v10}} @onToggle={{action (mut v10)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="light" @value={{v10}} @onToggle={{action (mut v10)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="light" @value={{v10}} @onToggle={{action (mut v10)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="ios" @value={{v13}} @onToggle={{action (mut v13)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="ios" @value={{v13}} @onToggle={{action (mut v13)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="ios" @value={{v13}} @onToggle={{action (mut v13)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="flat" @value={{v16}} @onToggle={{action (mut v16)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="flat" @value={{v16}} @onToggle={{action (mut v16)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="flat" @value={{v16}} @onToggle={{action (mut v16)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="flip" @value={{v19}} @onToggle={{action (mut v19)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="flip" @value={{v19}} @onToggle={{action (mut v19)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="flip" @value={{v19}} @onToggle={{action (mut v19)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="skewed" @value={{v20}} @onToggle={{action (mut v20)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="skewed" @value={{v20}} @onToggle={{action (mut v20)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="skewed" @value={{v20}} @onToggle={{action (mut v20)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="material" @value={{v21}} @onToggle={{action (mut v21)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="material" @value={{v21}} @onToggle={{action (mut v21)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="material" @value={{v21}} @onToggle={{action (mut v21)}} />
      </td>
    </tr>
  </tbody>
</table>


<h2>Labels</h2>

<table>
  <tbody>
    <tr>
      <td>
        <XToggle @showLabels={{true}} @offLabel="hey" @onLabel="ho" @value={{lv1}} @onToggle={{action (mut lv1)}} />
      </td>
      <td><pre><code>\{{x-toggle
    showLabels=true
    offLabel='hey'
    onLabel='ho'
  }}</code></pre>
      </td>
    </tr>
  </tbody>
</table>

<h4>Action</h4>

<div class='default-style text-labels'>
  <table class='demo-table'>
    <tbody>

      <tr>
        <td>
          <div class='default-theme'>
            <XToggle @offLabel="Hey" @onLabel="Ho" @showLabels={{true}} @value={{actionBound}} @onToggle={{action (mut actionBound)}} />
          </div>
        </td>

        <td>
          value: <Input @value={{actionBound}} />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Disabled</h2>
<pre>
\{{x-toggle value=disabledTest disabled=true showLabels=true}}
</pre>
<span class='flexy'>
  <XToggle @value={{disabledTest}} @disabled={{true}} @showLabels={{true}} /><br><br><br>
  value here: {{disabledTest}} &lt;== Won&#39;t change
</span>

<h2>Block Form</h2>
<pre>
\{{#x-toggle value=value showLabels=true onToggle=(action (mut value)) as |toggle|}}
  \{{#toggle.offLabel as |label|}}
    &lt;b&gt;\{{label}}&lt;/b&gt;
  \{{/toggle.offLabel}}

  \{{toggle.switch theme='flip' onLabel='diff on' offLabel='diff off'}}

  \{{#toggle.onLabel as |label|}}
    &lt;b&gt;\{{label}}&lt;/b&gt;
  \{{/toggle.onLabel}}
\{{/x-toggle}}
</pre>
<span class='flexy'>
  <XToggle @value={{value}} @showLabels={{true}} @onToggle={{action (mut value)}} as |toggle|>
    <toggle.offLabel as |label|>
      <b>{{label}}</b>
    </toggle.offLabel>

    <toggle.switch @theme="flip" @onLabel="diff on" @offLabel="diff off" />

    <toggle.onLabel as |label|>
      <b>{{label}}</b>
    </toggle.onLabel>
  </XToggle>
</span>

<h2>Block Form - Single Toggle Label</h2>
<pre>
\{{#x-toggle value=value showLabels=true onToggle=(action (mut value)) as |toggle|}}
  \{{#toggle.label value=(not value) as |label|}}
    &lt;b&gt;turn \{{if value 'on' 'off'}}&lt;/b&gt;
  \{{/toggle.label}}

  \{{toggle.switch theme='flip' onLabel='diff on' offLabel='diff off'}}
\{{/x-toggle}}
</pre>
<span class='flexy'>
  <XToggle @value={{value}} @showLabels={{true}} @onToggle={{action (mut value)}} as |toggle|>
    <toggle.label @value={{not value}}>
      <b>turn {{if value 'off' 'on'}}</b>
    </toggle.label>

    <toggle.switch @theme="flip" @onLabel="diff on" @offLabel="diff off" />
  </XToggle>
</span>

<h2>Wrapped in a single label</h2>
<pre>
&lt;label&gt;
  \{{x-toggle
    onToggle=(action 'toggleLabelTest')
    value=(readonly toggleLabelValue)}}
   Wrapped in Label Test
&lt;/label&gt;
</pre>
<span class='flexy'>
  <label>
  <XToggle @onToggle={{action "toggleLabelTest"}} @value={{readonly toggleLabelValue}} />
    Wrapped in Label Test
  </label>
</span>

<pre>
&lt;label&gt;
  \{{x-toggle
    onToggle=(action 'notToggleLabelTest')
    value=(readonly notToggleLabelValue)}}
   Negated test
&lt;/label&gt;
</pre>
<span class='flexy'>
  <label>
  <XToggle @onToggle={{action "notToggleLabelTest"}} @value={{readonly notToggleLabelValue}} />
    Negated test
  </label>
</span>
