{{page-title "ember-toggle"}}

<h1 id='title'>ember-toggle</h1>

<h2>Themes</h2>
{{! template-lint-disable block-indentation attribute-indentation}}
<table>
  <tbody>
    <tr>
      <td><XToggle @name={{1}} @theme="default" @value={{this.v1}} @onToggle={{fn (mut this.v1)}} /></td>
      <td>default</td>
      <td><XToggle @name={{2}} @theme="light" @value={{this.v2}} @onToggle={{fn (mut this.v2)}} /></td>
      <td>light</td>
    </tr>
    <tr>
      <td><XToggle @name={{3}} @theme="ios" @value={{this.v3}} @onToggle={{fn (mut this.v3)}} /></td>
      <td>ios</td>
      <td><XToggle @name={{4}} @theme="flat" @value={{this.v4}} @onToggle={{fn (mut this.v4)}} /></td>
      <td>flat</td>
    </tr>
    <tr>
      <td><XToggle @name={{5}} @theme="flip" @offLabel="Nope" @onLabel="Yep" @value={{this.v5}} @onToggle={{fn (mut this.v5)}} /></td>
      <td>flip</td>
      <td><XToggle @name={{6}} @theme="skewed" @value={{this.v6}} @onToggle={{fn (mut this.v6)}} /></td>
      <td>skewed</td>
    </tr>
    <tr>
      <td><XToggle @name={{7}} @theme="material" @value={{this.v8}} @onToggle={{fn (mut this.v8)}} /></td>
      <td>material</td>
    </tr>
  </tbody>
</table>

<h3>Dark</h3>
<table class="dark">
  <tbody>
    <tr>
      <td><XToggle @name={{3}} @theme="ios" @variant="dark" @value={{this.v3}} @onToggle={{fn (mut this.v3)}} /></td>
      <td>ios dark</td>
      <td><XToggle @name={{4}} @theme="flat" @variant="dark" @value={{this.v4}} @onToggle={{fn (mut this.v4)}} /></td>
      <td>flat dark</td>
    </tr>
    <tr>
      <td><XToggle @name={{7}} @theme="material" @variant="dark" @value={{this.v8}} @onToggle={{fn (mut this.v8)}} /></td>
      <td>material dark</td>
    </tr>
  </tbody>
</table>

<h3>Auto</h3>
<table class="auto">
  <tbody>
    <tr>
      <td><XToggle @name={{3}} @theme="ios" @variant="auto" @value={{this.v3}} @onToggle={{fn (mut this.v3)}} /></td>
      <td>ios auto</td>
      <td><XToggle @name={{4}} @theme="flat" @variant="auto" @value={{this.v4}} @onToggle={{fn (mut this.v4)}} /></td>
      <td>flat auto</td>
    </tr>
    <tr>
      <td><XToggle @name={{7}} @theme="material" @variant="auto" @value={{this.v8}} @onToggle={{fn (mut this.v8)}} /></td>
      <td>material auto</td>
    </tr>
  </tbody>
</table>

<h2>Sizes</h2>

<table>
  <thead>
    <tr>
      <th>Small</th>
      <th>Medium</th>
      <th>Large</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td>
        <XToggle @size="small" @value={{this.v7}} @onToggle={{fn (mut this.v7)}} />
      </td>
      <td>
        <XToggle @size="medium" @value={{this.v7}} @onToggle={{fn (mut this.v7)}} />
      </td>
      <td>
        <XToggle @size="large" @value={{this.v7}} @onToggle={{fn (mut this.v7)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="light" @value={{this.v10}} @onToggle={{fn (mut this.v10)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="light" @value={{this.v10}} @onToggle={{fn (mut this.v10)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="light" @value={{this.v10}} @onToggle={{fn (mut this.v10)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="ios" @value={{this.v13}} @onToggle={{fn (mut this.v13)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="ios" @value={{this.v13}} @onToggle={{fn (mut this.v13)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="ios" @value={{this.v13}} @onToggle={{fn (mut this.v13)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="flat" @value={{this.v16}} @onToggle={{fn (mut this.v16)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="flat" @value={{this.v16}} @onToggle={{fn (mut this.v16)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="flat" @value={{this.v16}} @onToggle={{fn (mut this.v16)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="flip" @value={{this.v19}} @onToggle={{fn (mut this.v19)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="flip" @value={{this.v19}} @onToggle={{fn (mut this.v19)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="flip" @value={{this.v19}} @onToggle={{fn (mut this.v19)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="skewed" @value={{this.v20}} @onToggle={{fn (mut this.v20)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="skewed" @value={{this.v20}} @onToggle={{fn (mut this.v20)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="skewed" @value={{this.v20}} @onToggle={{fn (mut this.v20)}} />
      </td>
    </tr>
    <tr>
      <td>
        <XToggle @size="small" @theme="material" @value={{this.v21}} @onToggle={{fn (mut this.v21)}} />
      </td>
      <td>
        <XToggle @size="medium" @theme="material" @value={{this.v21}} @onToggle={{fn (mut this.v21)}} />
      </td>
      <td>
        <XToggle @size="large" @theme="material" @value={{this.v21}} @onToggle={{fn (mut this.v21)}} />
      </td>
    </tr>
  </tbody>
</table>


<h2>Labels</h2>

<table>
  <tbody>
    <tr>
      <td>
        <XToggle @showLabels={{true}} @offLabel="hey" @onLabel="ho" @value={{this.lv1}} @onToggle={{fn (mut this.lv1)}} />
      </td>
      <td><pre><code>&lt;XToggle
  @showLabels=\{{true}}
  @offLabel='hey'
  @onLabel='ho'
/&gt;</code></pre>
      </td>
    </tr>
  </tbody>
</table>

<h4>Action</h4>

<div class='default-style text-labels'>
  <table class='demo-table'>
    <tbody>

      <tr>
        <td>
          <div class='default-theme'>
            <XToggle @offLabel="Hey" @onLabel="Ho" @showLabels={{true}} @value={{this.actionBound}} @onToggle={{fn (mut this.actionBound)}} />
          </div>
        </td>

        <td>
          value: <Input aria-label="Value" @value={{this.actionBound}} />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Disabled</h2>
<pre>
&lt;XToggle @value=\{{this.disabledTest}} @disabled=\{{true}} @showLabels=\{{true}} /&gt;
</pre>
<span class='flexy'>
  <XToggle @value={{this.disabledTest}} @disabled={{true}} @showLabels={{true}} /><br><br><br>
  value here: {{this.disabledTest}} &lt;== Won&#39;t change
</span>

<h2>Block Form</h2>
<pre>
&lt;XToggle
  @value=\{{this.value}}
  @showLabels=\{{true}}
  @onToggle=\{{fn (mut this.value)}}
  as |toggle|
/&gt;
  &lt;toggle.offLabel as |label|&gt;
    &lt;b&gt;\{{label}}&lt;/b&gt;
  &lt;/toggle.offLabel&gt;

  &lt;toggle.switch @theme="flip" @onLabel="diff on" @offLabel="diff off" /&gt;

  &lt;toggle.onLabel as |label|&gt;
    &lt;b&gt;\{{label}}&lt;/b&gt;
  &lt;/toggle.onLabel&gt;
&lt;/XToggle&gt;
</pre>
<span class='flexy'>
  <XToggle @value={{this.value}} @showLabels={{true}} @onToggle={{fn (mut this.value)}} as |toggle|>
    <toggle.offLabel as |label|>
      <b>{{label}}</b>
    </toggle.offLabel>

    <toggle.switch @theme="flip" @onLabel="diff on" @offLabel="diff off" />

    <toggle.onLabel as |label|>
      <b>{{label}}</b>
    </toggle.onLabel>
  </XToggle>
</span>

<h2>Block Form - Single Toggle Label</h2>
<pre>
&lt;XToggle
  @value=\{{this.value}}
  @showLabels=\{{true}}
  @onToggle=\{{fn (mut this.value)}}
  as |toggle|
/&gt;
  &lt;toggle.label @value=\{{not this.value}}&gt;
    &lt;b&gt;turn \{{if this.value 'off' 'on'}}&lt;/b&gt;
  &lt;/toggle.label&gt;

  &lt;toggle.switch @theme="flip" @onLabel="diff on" @offLabel="diff off" /&gt;
&lt;/XToggle&gt;
</pre>
<span class='flexy'>
  <XToggle @value={{this.value}} @showLabels={{true}} @onToggle={{fn (mut this.value)}} as |toggle|>
    <toggle.label @value={{not this.value}}>
      <b>turn {{if this.value 'off' 'on'}}</b>
    </toggle.label>

    <toggle.switch @theme="flip" @onLabel="diff on" @offLabel="diff off" />
  </XToggle>
</span>

<h2>Wrapped in a single label</h2>
<pre>
&lt;label&gt;
  &lt;XToggle
    @onToggle=\{{this.toggleLabelTest}}
    @value=\{{readonly this.toggleLabelValue}}
  /&gt;
  Wrapped in Label Test
&lt;/label&gt;
</pre>
<span class='flexy'>
  <label>
    <XToggle @onToggle={{this.toggleLabelTest}} @value={{readonly this.toggleLabelValue}} />
    Wrapped in Label Test
  </label>
</span>

<pre>
&lt;label&gt;
  &lt;XToggle
    @onToggle=\{{this.notToggleLabelTest}}
    @value=\{{readonly this.notToggleLabelValue}}
  /&gt;
  Negated test
&lt;/label&gt;
</pre>
<span class='flexy'>
  <label>
    <XToggle @onToggle={{this.notToggleLabelTest}} @value={{readonly this.notToggleLabelValue}} />
    Negated test
  </label>
</span>
