<h2 id='title'>ember-cli-toggle</h2>

{{outlet}}

{{x-toggle toggle='checkboxToggled'}}
{{x-toggle theme='default'}}
{{x-toggle theme='light'}}
{{x-toggle theme='ios'}}
{{x-toggle theme='flat'}}
{{x-toggle theme='flip' off='Nope' on='Yep' toggle='checkboxToggled'}}
{{x-toggle theme='skewed'}}

<p>
  Is toggled: {{toggled}}
</p>

<div class="default-sizes sizes">
  {{x-toggle size='small'}}
  {{x-toggle size='medium'}}
  {{x-toggle size='large'}}
</div>

<div class="light-sizes sizes">
  {{x-toggle size='small' theme='light'}}
  {{x-toggle size='medium' theme='light'}}
  {{x-toggle size='large' theme='light'}}
</div>

<div class="ios-sizes sizes">
  {{x-toggle size='small' theme='ios'}}
  {{x-toggle size='medium' theme='ios'}}
  {{x-toggle size='large' theme='ios'}}
</div>

<div class="flat-sizes sizes">
  {{x-toggle size='small' theme='flat'}}
  {{x-toggle size='medium' theme='flat'}}
  {{x-toggle size='large' theme='flat'}}
</div>

<div class="flip-sizes sizes">
  {{x-toggle size='small' theme='flip'}}
  {{x-toggle size='medium' theme='flip'}}
  {{x-toggle size='large' theme='flip'}}
</div>

<div class="skewed-sizes sizes">
  {{x-toggle size='small' theme='skewed'}}
  {{x-toggle size='medium' theme='skewed'}}
  {{x-toggle size='large' theme='skewed'}}
</div>

<h2>Text Labels</h2> 
<pre>
\{{x-toggle showLabels="true" on="hey" off="ho"}}
</pre>
<div class="default-style text-labels">
	<table class="demo-table">
		<tr>
			<td>
				<div class="default-theme">
					{{x-toggle size='small' on='hey' off='ho' showLabels="true" theme='default'}}<br/>
					{{x-toggle size='medium' on='hey' off='ho' showLabels="true" theme='default'}}<br/>
					{{x-toggle size='large' on='hey' off='ho' showLabels="true" theme='default'}}
				</div>
			</td>
			<td>
				<div class="flat-theme">
					{{x-toggle size='small' on='hey' off='ho' showLabels="true" theme='flat'}}<br/>
					{{x-toggle size='medium' on='hey' off='ho' showLabels="true" theme='flat'}}<br/>
					{{x-toggle size='large' on='hey' off='ho' showLabels="true" theme='flat'}}
				</div>
			</td>
			<td>
				<div class="light-theme">
					{{x-toggle size='small' on='hey' off='ho' showLabels="true" theme='light'}}<br/>
					{{x-toggle size='medium' on='hey' off='ho' showLabels="true" theme='light'}}<br/>
					{{x-toggle size='large' on='hey' off='ho' showLabels="true" theme='light'}}
				</div>
			</td>
		</tr>
	</table>
</div>