<input
  class='x-toggle'
  type='checkbox'
  checked={{toggled}}
  disabled={{disabled}}
  id={{forId}}
  name={{name}}
  onchange={{action sendToggle value='target.checked'}}
>

<label for={{effectiveForId}}>
  <div
    id='x-toggle-visual-{{forId}}'
    role='checkbox'
    class='x-toggle-btn {{themeClass}} {{size}}{{if disabled ' x-toggle-disabled'}}'
    aria-owns={{forId}}
    aria-checked={{toggled}}
    data-tg-on={{onLabel}}
    data-tg-off={{offLabel}}
  >
  </div>
</label>
