<input
  class='x-toggle'
  type='checkbox'
  checked={{this.toggled}}
  disabled={{this.disabled}}
  id={{this.forId}}
  name={{this.name}}
  onchange={{action this.sendToggle value='target.checked'}}
>

<label for={{this.effectiveForId}}>
  <div
    id='x-toggle-visual-{{this.forId}}'
    role='checkbox'
    class='x-toggle-btn {{this.themeClass}} {{this.size}}{{if this.disabled ' x-toggle-disabled'}}'
    aria-owns={{this.forId}}
    aria-checked={{this.toggled}}
    data-tg-on={{this.onLabel}}
    data-tg-off={{this.offLabel}}
  >
  </div>
</label>
