<input
  checked={{toggled}}
  disabled={{disabled}}
  class='x-toggle'
  id={{forId}}
  name={{name}}
  onchange={{action sendToggle value='target.checked'}}
  type='checkbox'>

<label for="{{effectiveForId}}">
  <div
    aria-owns="{{forId}}"
    role="checkbox"
    aria-checked="{{toggled}}"
    class="x-toggle-btn {{themeClass}} {{size}}{{if disabled ' x-toggle-disabled'}}"
    data-tg-on="{{onLabel}}"
    data-tg-off="{{offLabel}}"
    id="x-toggle-visual-{{forId}}">
  </div>
</label>
